/* CSS Document */
html {
	margin-left: 0px;
	margin-top: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	SCROLLBAR-FACE-COLOR: #D7D8DA;
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #909192;
	SCROLLBAR-3DLIGHT-COLOR: #CCCDCE;
	SCROLLBAR-ARROW-COLOR: #FFFFFF;
	SCROLLBAR-TRACK-COLOR:#CCCDCE;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCDCE;
}

